<tr>
  <td style="padding-bottom: 30px">
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
      <td valign="middle" width="50%" class="tiny-editable">
        <img
          src="https://picsum.photos/seed/another/600/700"
          alt=""
          style="width: 100%; max-width: 600px; height: auto; margin: auto; display: block"
        />
      </td>
      <td valign="middle" width="50%">
        <div class="text-blog" style="text-align: left; padding-left: 25px">
          <p class="meta"><span>Posted on Feb 18, 2019</span> <span>Food</span></p>
          <h2 class="tiny-editable">Tips For Winter Season</h2>
          <p class="tiny-editable">
            A small river named Duden flows by their place and supplies it with the necessary
            regelialia.
          </p>
          <p><a href="#" class="btn btn-primary tiny-editable">Read more</a></p>
        </div>
      </td>
    </table>
  </td>
</tr>
